<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationMagentoGoogleGtag
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hippiemonkeys_modification>
            <magento_googlegtag>
                <active>1</active>
                <ga_block_active>1</ga_block_active>
            </magento_googlegtag>
        </hippiemonkeys_modification>
    </default>
</config>